@font-face {
    src: url(Auristela.ttf);
    font-family: auristela;
}
body {
    margin: 0;
    font-family: auristela;
    background-color: white;
}
.imgNavbar {
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 440px;
    width: 100%;
}
a {
    color: black;
    font-size: 17px;
}
/*da vedere CORINNE DA QUI*/
.header {
    background-color: white;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0, .1);
    width: 100%;
    z-index: 1;
}

    .header ul {
        margin-left: 150px;
        padding: 0;
        list-style: none; /*per togliere i pallini*/
        overflow: hidden;
        background-color: white;
    }



        .header ul li {
            padding: 5px;
            margin: 0;
            font-size: 14px;
            line-height: 1.5;
        }

        .header ul a {
            display: block; /*per dare l'opportunità di cliccare ovunque nella voci del menu e non solo sulle scritte*/
            text-decoration: none;
            border-radius: 20px;
        }

            .header ul a:hover {
                background-color: #462555;
                color: white;
            }

            .header ul a:current {
                background-color: #462555;
                color: white;
            }
       
     

    .header .menu {
        clear: both; /*guarda menu, non ti devi adeguare al logo, devi restare lì*/
        max-height: 0;
        transition: max-height .2s ease-out; /*con transition per animazione, cambierà altezza*/
    }

    .header .menu-icon {
        padding: 28px 20px; /*icona del menu*/
        position: relative; /*relative perché poi, all'interno icono absolute. absolute deve trovarsi in relative, altrimenti farà riferimento a elemento superiore*/
        float: right;
        cursor: pointer;
    }

        .header .menu-icon .nav-icon {
            background-color: grey;
            display: inline-block;
            width: 18px;
            height: 2px;
            position: relative;
            transition: background-color .2s ease-out;
        }
            /*creare 2 liniette hamb pseudoelementi, non esistono. li creiamo noi*/
            .header .menu-icon .nav-icon::before,
            .header .menu-icon .nav-icon::after {
                background-color: grey;
                content: "";
                display: block;
                height: 100%; /*fa riferimento all'elemento originale*/
                width: 100%;
                transition: all .2s ease-out;
                position: absolute
            }

            .header .menu-icon .nav-icon::before {
                top: 5px;
            }

            .header .menu-icon .nav-icon::after {
                top: -5px;
            }

    .header .menu-btn {
        display: none; /*nasconde la checkbox*/
    }

        .header .menu-btn:checked ~ .menu { /*quando checkbox è checkata l'effetto che vogliamo lo vai a dare a menu, che grazie alla tilde ~abbiamo quale sia*/
            max-height: 400px;
        }

        .header .menu-btn:checked ~ .menu-icon .nav-icon {
            background-color: transparent; /*ci serve scompaia solo l'elemento nav principale, venga tolto */
        }

            .header .menu-btn:checked ~ .menu-icon .nav-icon::before {
                transform: rotate(-45deg);
                top: 0;
            }

            .header .menu-btn:checked ~ .menu-icon .nav-icon::after {
                transform: rotate(45deg);
                top: 0;
            }

/*quanto fatto finora è mobile first adesso dobbiamo pensare ai media*/

@media(min-width:48em) {
    .header li {
        float: left;
    }

        .header li a {
            padding: 20px 30px;
        }
    .header li ul {
        display: none;
    }
        .header li:hover ul {
            display: block;
            position: absolute;
            z-index: 1;
            width: 150px;
            padding: 0;
            margin: 0 0 0 -1px;
            border: 1px solid;
            background: white;
            border-radius: 20px;
        }

    .header .menu {
        clear: none; /*il float deve avere effetto*/
        float: right;
        max-height: 300px;
        margin-right: 70px;
    }

    .header .menu-icon {
        display: none; /*fa sparire hamburger*/
    }
}


/*A QUI LASCIA STARE*/

/*puoi fare cambiamenti da qui */

/* inizio stile delle immagini che stanno nella homepage */
.bunker {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
    margin-top: -5px;
}

.image {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 200px; /* Imposta l'altezza desiderata per tutte le immagini */
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}
.image-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

    .image:hover {
        transform: scale(1.2);
    }

.container2 {
    display: flex;
    flex-wrap: wrap; /* Aggiunto per far funzionare il wrapping su schermi più piccoli */
    margin-top: 50px;
    align-content: space-between;
}
.text-container {
    flex: 1; /* Per occupare lo spazio rimanente */
    padding: 20px;
    background-color: #AF819D; /*c: Cambiato colore. questo è il colore dei box*/
    height: 340px;
    color: #fff;
}

/* fine stile delle immagini che stanno nella homepage */

/**footer*/
.footer {
    background-image: url(footerHotel.png); /*c: aggiunto background*/
    background-position: center; /*c:aggiunto*/
    background-repeat: no-repeat; /*c:aggiunto*/
    justify-content: center;
    height: 23vh; /*cambiata altezza*/
    text-align: center;
    margin-top: 150px; /*c: PROVA PER VEDERE SE RIESCO A STACCARE UN PO' IL FOOTER*/
    color: black; /*c: aggiunto*/
    justify-content: space-between;
    justify-items: center;
    display: flex;
}

.textFooter { /*c: aggiunto*/
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color:white;
}

.footerLogo {
    height: 150px;
   
}
.icone {
    height: 40px;
}
.testoGestionale {
    margin-left: 100px;
    margin-top: 150px;
}

.contattiServizi { /*classe dei contatti in cui ci sono i servizi offerti*/
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
/* C: Da qui in poi inserita la classe per i contatti ,questo è lo styleSheet ufficiale*/
.sectionC {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    flex-wrap: wrap;
}

.contact-info {
    flex: 1;
    padding-right: 2em;
}

.contact-form {
    flex: 1;
    padding-left: 2em;
    margin-bottom: 40px;
    margin-right: 40px;
    background-color: #AF6BAB;
    border-radius: 20px;
}

.ulC {
    list-style: none;
    padding: 0;
}

.liC {
    margin-bottom: 1em;
}

.labelC {
    display: block;
    margin-bottom: 20px;
    color: #333;
}

.inputTextC {
    width: 90%;
    padding: 0.5em;
    margin-bottom: 50px;
    margin-right: 30px;
    padding-right: 20px;
    border-radius: 20px;
}

.pulsanteC {
    background-color: #462555;
    color: white;
    border-radius: 20px;
    font-size: 30px;
    font-family: vomit;
}



